<header th:fragment="header">
    <h1>Secretaria da Educação de Xique-Xique</h1>
    <nav>
        <a href="/home">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
        <div class="nav">
            <a href="/login-aluno"><i class="fas fa-user-graduate"></i> Sou Aluno</a>
            <a href="/login-prof"><i class="fas fa-chalkboard-teacher"></i> Sou Professor</a>
            <a href="/login-adm"><i class="fas fa-user-tie"></i> Área de Administradores</a>
        </div>
    </nav>
</header>
