.primaria {
    background-color: #0abb78;
}

.secundaria {
    background-color: #f8e82d;
}

.terciaria {
    background-color: #00b4d9;
}

.quarta {
    background-color: #a7f650;
}

.quinta {
    background-color: #0064ac;
}