body {
    font-family: "Bricolage Grotesque", sans-serif;
}

header {
    background-color: #0abb78;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header2 {
    background-color: #077a4e;
    color: #fff;
    font-size: 72px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0abb78;
}


nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


nav a:hover {
    background-color: #0b9963;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0abb78;
}


.nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.nav a:hover {
    background-color: #0b9963;
}


.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0abb78;
    --bs-btn-border-color: #0abb78;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #086b45;
    --bs-btn-hover-border-color: #0b9963;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0b9963;
    --bs-btn-active-border-color: #086b45;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0abb78;
    --bs-btn-disabled-border-color: #0abb78;
}


.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0064ac;
    --bs-btn-border-color: #0064ac;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #00538f;
    --bs-btn-hover-border-color: #004272;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00538f;
    --bs-btn-active-border-color: #002e4e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0064ac;
    --bs-btn-disabled-border-color: #0064ac;
}


h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

.verde{
    color: rgb(0, 117, 72);
}
.vermelho{
    color: rgb(255, 0, 64);
}