body {
    font-family: "Bricolage Grotesque", sans-serif;
}

header {
    background-color: #0abb78;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0abb78;
}


nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


nav a:hover {
    background-color: #0b9963;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0abb78;
}


.nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.nav a:hover {
    background-color: #0b9963;
}
